.title{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(82, 78, 85);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .drawer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.see-rating-button{
    background-color: rgb(131, 233, 233);
    position: absolute;
}

.pageStyle{
    padding-left: 80px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}