.title{
    font-size: 50px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
    color: rgb(146, 146, 146);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .drawer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.see-rating-button{
    background-color: rgb(131, 233, 233);
    position: absolute;
}

.pageStyle{
    padding-left: 80px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cover{
    padding-top: 45px;
    width: 500px;
}

.info-book{
    padding-top: 60px;
    display: flex; /* Active Flexbox */
    gap: 100px; /* Espacement entre les éléments */
    align-items: top; /* Alignement vertical au centre */
}

.detail-book{
    align-items: top;
    font-size: 20px;
}

.button{
    width: 40px;
}